{:source "battleship.txt", :tests [{:line 6, :description "Battleship moves 2 cells per round.", :givens [{:type :map, :target :game-map, :rows ["B~~="]} {:type :waiting-for-input, :unit "B", :set-mode true}], :whens [{:type :key-press, :key :D, :input-fn :key-down}], :thens [{:type :unit-at-next-round, :unit "B", :target "=", :at-next-round true}]} {:line 17, :description "Battleship put to sentry mode.", :givens [{:type :map, :target :game-map, :rows ["B~"]} {:type :waiting-for-input, :unit "B", :set-mode true}], :whens [{:type :key-press, :key :s, :input-fn :key-down}], :thens [{:type :unit-prop, :unit "B", :property :mode, :expected :sentry}]}]}