{:source "hover-commands.txt", :tests [{:line 6, :description "Set destination at mouse position.", :givens [{:type :map, :target :game-map, :rows ["A#" "##"]} {:type :waiting-for-input, :unit "A", :set-mode true}], :whens [{:type :mouse-at-key, :coords [0 1], :key :period}], :thens [{:type :destination, :expected [0 1]}]} {:line 18, :description "Wake sentry unit at mouse.", :givens [{:type :map, :target :game-map, :rows ["A#"]} {:type :unit-props, :unit "A", :props {:mode :sentry}}], :whens [{:type :mouse-at-key, :coords [0 0], :key :u}], :thens [{:type :unit-prop, :unit "A", :property :mode, :expected :awake}]} {:line 29, :description "Set lookaround on city at mouse.", :givens [{:type :map, :target :game-map, :rows ["O#"]} {:type :production, :city "O", :item :army}], :whens [{:type :mouse-at-key, :coords [0 0], :key :l}], :thens [{:type :cell-prop, :coords [0 0], :property :marching-orders, :expected :lookaround}]}]}